@import "css/base/reset.css";
@import "css/base/global.css";
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700&display=swap');

:root {
  /* Font Family */
  --font-sans: 'Plus Jakarta Sans', 'Poppins', 'Work Sans', 'Quicksand', 'DM Sans', 'IBM Plex Sans', 'Rubik', "Google Sans", system-ui, -apple-system, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue;
  --font-serif: Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: Consolas, Menlo, Monaco, "Liberation Mono", monospace;

  /* Colors */
  --clr-white: #fff;
  --clr-black: #333;
  --clr-red: #fc5859;
  --clr-blue: #577ffb;
  --clr-green: #42a05b;
  --clr-accent: #2c343f;

  /* Sizes */
  --maximumViewportWidth: 1440;

  /* Theme */
  --theme-font-weight: 400;
  --theme-font-family: var(--font-sans);
  --theme-base-shadow: rgb(0 0 0 / 10%) 0px 0px 5px 0px, rgb(0 0 0 / 10%) 0px 0px 1px 0px;
  --theme-body-background: #EFEFEF;
  --theme-body-color: var(--clr-black);
}

.npp {
  /* Fonts */
  font-family: var(--theme-font-family);
  font-weight: var(--theme-font-weight);
  /* Colors */
  background-color: var(--theme-body-background, #fff);
  color: var(--theme-body-color, #333);
  /* Sizes */
  width: 100%;
  min-height: 100vh;
  /* Display */
  padding: 10px;
  display: grid;
  place-items: center;
  /* Author */

  &-author {
    position: fixed;
    bottom: 20px;
    right: 20px;
  }

  &-app {
    width: 100%;
    display: grid;
    gap: 15px;
    place-items: center;

    .title {
      font-size: calc(24px + (35 - 24) * ((100vw - 300px) / (var(--maximumViewportWidth) - 300)));
      font-weight: 700;
      text-align: center;
    }

    .button {
      margin-inline: auto;
      border-radius: 6px;
      font-weight: 500;
      border: 1px solid #DEE2E5;
      padding: 13px 18px;
      max-width: 100%;
      display: inline-flex;
      justify-content: center;
      align-items: center;

      &:hover {
        background-color: var(--clr-black);
        color: var(--clr-white);
      }
    }

    .loader {
      display: flex;
      justify-content: center;
    }
  }
}


.qr-code {
  display: grid;
  gap: 15px;
  padding: 20px;
  background-color: var(--clr-white);
  box-shadow: var(--theme-base-shadow);
  border-radius: 8px;
  text-align: center;
  max-width: 400px;
  height: 290px;
  width: 100%;
  transition: height 0.2s ease;

  form {
    height: 250px;
    cursor: pointer;
    user-select: none;
    border-radius: 7px;
    transition: height 0.2s ease;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);

    img {
      max-width: 150px;
      display: none;
    }

    div {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 10px;

      svg {
        pointer-events: none;
        width: 50px;
        height: 50px;
      }
    }
  }

  .content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    pointer-events: none;
    user-select: none;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s 0.05s ease;

    textarea {
      grid-column: 1/-1;
      text-align: left;
      user-select: none;
      pointer-events: none;
    }
  }

  .button {
    width: 100%;
    padding: 4px;
  }

  &.is-show {
    height: 520px;

    form {
      display: grid;
      place-items: center;
    }

    img {
      display: block;
    }

    .content {
      user-select: auto;
      visibility: visible;
      opacity: 1;
      pointer-events: auto;
    }
  }

  .hide {
    display: none;
  }
}
