.category {
  padding: 20px;
  border-radius: var(--theme-border-radius);
  border: var(--theme-border);
  background-color: var(--clr-white);
  display: grid;
  align-items: flex-start;
  gap: var(--theme-gap);


  :global {
    ul {
      display: grid;

      gap: var(--theme-gap);
      word-break: break-word;

      @media (min-width: 576px) {
        grid-template-columns: repeat(2, 1fr);
      }

      @media (min-width: 768px) {
        grid-template-columns: repeat(3, 1fr);
      }
    }

    .button {
      border-radius: var(--theme-border-radius);
      border: var(--theme-border);
      padding: 10px;
      justify-content: flex-start;
      align-items: flex-start;
      text-align: left;
      width: 100%;
      max-width: 100%;
    }

    p {
      display: flex;
      flex-wrap: wrap;
      gap: 5px;
    }

    span:nth-of-type(1) {
      font-weight: 600;
    }
  }
}
