*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a, button {
  cursor: revert;
}

ol, ul, menu {
  list-style: none;
}

img {
  max-inline-size: 100%;
  max-block-size: 100%;
}

table {
  border-collapse: collapse;
}

input, textarea {
  -webkit-user-select: auto;
}

textarea {
  white-space: revert;
}

meter {
  -webkit-appearance: revert;
  appearance: revert;
}

pre {
  all: revert;
}

::placeholder {
  color: unset;
}

::marker {
  content: "";
}

:where([hidden]) {
  display: none;
}

:where([contenteditable]:not([contenteditable="false"])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto;
}

:where([draggable="true"]) {
  -webkit-user-drag: element;
}

:where(dialog:modal) {
  all: revert;
}

html {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}

html, body {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100%;
  position: relative;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

:root {
  --accent: #443DF6;
  --maximumViewportWidth: 1440;
}

.homepage {
  font-family: 'Poppins', system-ui, -apple-system, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue;
  padding: 20px;
  font-weight: 400;
  font-size: calc(14px + (18 - 14) * ((100vw - 300px) / (var(--maximumViewportWidth) - 300)));
  display: grid;
  gap: 15px;
  max-width: 1440px;
  width: 100%;
  margin-inline: auto;
}

.homepage__title {
  font-weight: 700;
  font-size: calc(24px + (40 - 24) * ((100vw - 300px) / (var(--maximumViewportWidth) - 300)));
  text-align: center;
}

.homepage__subtitle {
  font-weight: 700;
  font-size: calc(18px + (22 - 18) * ((100vw - 300px) / (var(--maximumViewportWidth) - 300)));
}

.homepage__wrapper {
  max-width: 1440px;
  width: 100%;
  overflow: auto;
  margin-inline: auto;
  display: grid;
  gap: 20px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.table {
  display: grid;
  gap: 5px;
  width: 100%;
  border-radius: 10px;
}

.table__row {
  display: grid;
  align-items: flex-start;
  grid-template-columns: repeat(5, minmax(200px, 1fr));
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.table__cell {
  padding: 10px;
  display: flex;
  height: 100%;
  align-items: baseline;
}

.table__cell:not(:first-child) {
  border-left: 2px solid rgba(0, 0, 0, 0.05);
}

.table__row--header .table__cell {
  background-color: #36304b;
  color: #fff;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}

.table__row--header .table__cell:not(:first-child) {
  border-left: 2px solid #6e6884;
}

.table__cell--stack {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.table__cell--stack span {
  background-color: #f6f6f6;
  padding: 4px 10px;
  border-radius: 4px;
  color: #ffffff;
}

.table__cell--stack span:nth-child(1) {
  background-color: #e44d27;
}

.table__cell--stack span:nth-child(2) {
  background-color: #1472b6;
}

.table__cell--stack span:nth-child(3) {
  background-color: #5ccfee;
}

.table__cell a {
  color: var(--accent);
  font-weight: 600;
}
