@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* =============================
🚀 RESET
 ============================= */
*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a, button {
  cursor: revert;
}

ol, ul, menu {
  list-style: none;
}

img {
  max-inline-size: 100%;
  max-block-size: 100%;
}

table {
  border-collapse: collapse;
}

input, textarea {
  -webkit-user-select: auto;
}

textarea {
  white-space: revert;
}

meter {
  -webkit-appearance: revert;
  appearance: revert;
}

pre {
  all: revert;
}

::placeholder {
  color: unset;
}

::marker {
  content: "";
}

:where([hidden]) {
  display: none;
}

:where([contenteditable]:not([contenteditable="false"])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto;
}

:where([draggable="true"]) {
  -webkit-user-drag: element;
}

:where(dialog:modal) {
  all: revert;
}

/* =============================
🚀 GLOBAL
 ============================= */
html {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}

html, body {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100%;
  position: relative;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

#root {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

button {
  max-width: max-content;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s ease;
  padding: 4px 10px;
  cursor: pointer;
}

form {
  display: grid;
  gap: 10px;
  width: 100%;
}

label {
  width: 100%;
  cursor: pointer;
  display: grid;
  gap: 5px;

  .label {
    font-weight: 500;
  }
}

input[type="text"],
input[type="number"],
input[type="date"],
textarea,
select {
  padding: 10px;
  width: 100%;
  border: 1px solid rgba(51, 51, 51, 0.4);
  border-radius: 4px;
  transition: all 0.3s ease;
  cursor: pointer;
  background-color: rgba(230, 232, 235, 0.5);

  &::placeholder {
    color: rgba(51, 51, 51, 0.55);
  }

  &:hover,
  &:focus {
    border-color: var(--input-bdr-clr, #333);
  }
}

textarea {
  resize: none;
  min-height: 100px;
  word-break: break-word;
}

svg {
  pointer-events: none;
}

.visually-hidden {
  clip: rect(0 0 0 0) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  overflow: hidden !important;
  position: absolute !important;
  white-space: nowrap !important;
  width: 1px !important;
  padding: 0 !important;
  margin: 0 !important;
}

/* =============================
🚀 DEFAULT
 ============================= */

:root {
  /* Font Family */
  --font-sans: 'Poppins', 'Work Sans', 'Quicksand', 'DM Sans', 'IBM Plex Sans', 'Rubik', "Google Sans", system-ui, -apple-system, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue;
  --font-serif: Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: Consolas, Menlo, Monaco, "Liberation Mono", monospace;

  /* Colors */
  --clr-white: #fff;
  --clr-black: #333;
  --clr-red: #fc5859;
  --clr-blue: #577ffb;
  --clr-green: #42a05b;

  /* Sizes */
  --maximumViewportWidth: 1440;

  /* Theme */
  --theme-font-weight: 400;
  --theme-font-family: var(--font-sans);
  --theme-base-shadow: rgb(0 0 0 / 10%) 0px 0px 5px 0px, rgb(0 0 0 / 10%) 0px 0px 1px 0px;
  --theme-body-background: #f8fafc;
  --theme-body-color: hsl(200deg 9.68% 12.16%);
  --theme-border-color: hsl(185.45deg 18.03% 88.04%);
  --theme-border: 2px solid var(--theme-border-color);
  --theme-border-radius: 10px;
  --theme-gap: 15px;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 600;
  line-height: 1.2;
}

h1, .h1 {
  font-size: calc(1.375rem + 1.5vw);
}

h2, .h2 {
  font-size: calc(1.325rem + 0.9vw);
}

h3, .h3 {
  font-size: calc(1.3rem + 0.6vw);
}

h4, .h4 {
  font-size: calc(1.275rem + 0.3vw);
}

h5, .h5 {
  font-size: 1.25rem;
}

h6, .h6 {
  font-size: 1rem;
}

@media (min-width: 1200px) {
  h1, .h1 {
    font-size: 2.5rem;
  }

  h2, .h2 {
    font-size: 2rem;
  }

  h3, .h3 {
    font-size: 1.75rem;
  }

  h4, .h4 {
    font-size: 1.5rem;
  }
}
