@import "css/base/reset.css";
@import "css/base/global.css";
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700&display=swap');

:root {
  /* Font Family */
  --font-sans: 'Plus Jakarta Sans', 'Poppins', 'Work Sans', 'Quicksand', 'DM Sans', 'IBM Plex Sans', 'Rubik', "Google Sans", system-ui, -apple-system, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue;
  --font-serif: Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: Consolas, Menlo, Monaco, "Liberation Mono", monospace;

  /* Colors */
  --clr-white: #fff;
  --clr-black: #333;
  --clr-red: #fc5859;
  --clr-blue: #577ffb;
  --clr-green: #42a05b;
  --clr-accent: #2c343f;

  /* Sizes */
  --maximumViewportWidth: 1440;

  /* Theme */
  --theme-font-weight: 400;
  --theme-font-family: var(--font-sans);
  --theme-base-shadow: rgb(0 0 0 / 10%) 0px 0px 5px 0px, rgb(0 0 0 / 10%) 0px 0px 1px 0px;
  --theme-body-background: #FBFBFB;
  --theme-body-color: var(--clr-black);
}

.npp {
  /* Fonts */
  font-family: var(--theme-font-family);
  font-weight: var(--theme-font-weight);
  /* Colors */
  background-color: var(--theme-body-background, #fff);
  color: var(--theme-body-color, #333);
  /* Sizes */
  width: 100%;
  min-height: 100vh;
  /* Display */
  padding: 10px;

  /* Author */

  &-author {
    position: fixed;
    bottom: 20px;
    right: 20px;
  }

  &-app {
    width: 100%;
    display: grid;
    gap: 15px;

    .title {
      font-size: calc(24px + (35 - 24) * ((100vw - 300px) / (var(--maximumViewportWidth) - 300)));
      font-weight: 700;
      text-align: center;
    }

    button {
      width: 100%;
      margin-inline: auto;
      border-radius: 6px;
      font-weight: 500;
      border: 1px solid #DEE2E5;

      &:hover {
        background-color: var(--clr-black);
        color: var(--clr-white);
      }
    }
  }
}

.custom-pagination {
  display: grid;
  gap: 15px;

  .loading {
    text-align: center;
  }

  .users {
    --size: minmax(200px, 250px);
    display: grid;
    gap: 15px;
    grid-template-columns: var(--size);
    justify-content: center;

    @media (min-width: 576px) {
      grid-template-columns: repeat(2, var(--size));
    }

    @media (min-width: 768px) {
      grid-template-columns: repeat(3, var(--size));
    }

    @media (min-width: 992px) {
      grid-template-columns: repeat(4, var(--size));
    }

    li {
      border-radius: 4px;
      padding: 20px;
      display: grid;
      gap: 10px;
      justify-items: center;
      text-align: center;
      background-color: #fff;
      box-shadow: var(--theme-base-shadow);

      a {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        transition: all 0.3s ease;
        width: 100%;
        margin-inline: auto;
        min-height: 48px;
        min-width: 80px;
        border-radius: 6px;
        font-weight: 500;
        border: 1px solid #DEE2E5;

        &:hover {
          background-color: var(--clr-black);
          color: var(--clr-white);
        }
      }
    }

    h3 {
      font-weight: 700;
    }

    img {
      --size: calc(100px + (150 - 100) * ((100vw - 300px) / (var(--maximumViewportWidth) - 300)));
      width: var(--size);
      height: var(--size);
      border: 2px solid var(--clr-black);
      border-radius: 50%;
    }
  }
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 10px;

  .page-link {
    padding: 5px 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    font-weight: 500;
    border: 1px solid #DEE2E5;
    cursor: pointer;

    &:hover {
      background-color: var(--clr-black);
      color: var(--clr-white);
    }
  }

  .active {
    .page-link {
      background-color: var(--clr-black);
      color: var(--clr-white);
    }
  }

  .disabled {
    .page-link {
      opacity: 0.8;
      pointer-events: none;
      background-color: rgba(51, 51, 51, 0.2);
    }
  }
}
