/* 🌴 Settings */

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

/* 🌴 Variables */

:root {
  --c-white: #fff;
  --c-black: #000;
}

/* 🌴 Base */

html, body {
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100%;
  position: relative;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

#root,
#app {
  min-height: 100vh;
  width: 100%;
}

/* 🌴 Base */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 48px 96px;
  position: relative;
  color: #444;
}

button {
  color: inherit;
  font-family: inherit;
  border: none;
  cursor: pointer;
}

.toggle {
  position: absolute;
  right: 0;
  background: none;
  font-size: 30px;
  padding: 4px;
}

.tabs {
  margin-bottom: 8px;
}

.tab {
  border-radius: 12px;
  background-color: #edf2ff;
  padding: 12px 24px;
  margin-right: 8px;
  font-size: 16px;
  font-weight: bold;
  color: #364fc7;
  transition: all 0.3s;
}

.tab.active,
.tab:hover {
  background-color: #364fc7;
  color: #fff;
}

.tab-content {
  background-color: #edf2ff;
  padding: 32px;
  border-radius: 12px;
}

.tab-content h4 {
  font-size: 20px;
  margin-bottom: 16px;
  color: #364fc7;
}

.tab-content p {
  font-size: 18px;
}

.tab-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
  margin-bottom: 24px;
}

.tab-actions > button {
  background: none;
  text-decoration: underline;
  color: #4c6ef5;
  font-size: 14px;
}

.hearts-counter {
  display: flex;
  align-items: center;
  gap: 8px;
}

.hearts-counter button {
  background-color: #f03e3e;
  padding: 4px 6px;
  border-radius: 4px;
  color: #fff;
  line-height: 1;
}

.tab-undo {
  display: flex;
  gap: 8px;
}

.tab-undo button {
  background-color: #364fc7;
  color: #fff;
  padding: 6px 12px;
  border-radius: 4px;
}
